.App {
  text-align: center;
}

ul li link{
  text-decoration: none;
}

.imgStyle{
  width: 300px;
  height: 350px;
  object-fit: contain;
}

.createproduct{
 margin: auto;
 margin-top: 15px;
 margin-left: 300px;
}
